<html>
<head>
<meta charset="UTF-8" />
<head th:replace="~{base :: head}"></head>
</head>
<body>
	<div th:replace="~{base :: menu}"></div>
	<div class="container">

		<p class="h4">Campos de pesquisa</p>
		<form>
			<div class="form-row mb-3">
				<div class="col-md-2">
					<input type="number" min=0 id="busca-id" class="form-control"
						placeholder="Id">
				</div>

				<div class="col-md-10">
					<input type="text" class="form-control" id="busca-descricao"
						placeholder="Descrição">
				</div>

			</div>
			<div class="form-row mb-3">
				<div class="col-md-2">
					<input type="date" id="busca-data-inicial" class="form-control"
						placeholder="Data Inicial">
				</div>
				<div class="col-md-2">
					<input type="date" id="busca-data-final" class="form-control"
						placeholder="Data Final">
				</div>
				<div class="col-md-2">
					<input type="num" id="busca-valor-min" class="form-control"
						placeholder="Valor Mínimo">
				</div>
				<div class="col-md-2">
					<input type="num" id="busca-valor-max" class="form-control"
						placeholder="Valor Máximo">
				</div>
				<div class="col-md-2">
					<select class="form-control">
						<option selected>Escolher...</option>
						<option th:each="categoria : ${categorias}"
							th:value="${categoria.descricao}" th:text="${categoria.descricao}"></option>
					</select>
				</div>

				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-block">Buscar</button>
				</div>

			</div>
		</form>

		<div class="form-row mb-3">

			<div class="col-md-2">
				<p class="h4">Contas a Pagar</p>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-success btn-block"><a th:href="@{/home/formulario}" style="text-decoration:none; color:white">Novo Lançamento</a></button>
			</div>

		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Status</th>
					<th scope="col">Descrição</th>
					<th scope="col">Categoria</th>
					<th scope="col">Vencimento</th>
					<th scope="col">Valor</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lancamento : ${lancamentos}">
					<th scope="row" th:text="${lancamento.id}"></th>
					<td th:text="${lancamento.situacao}"></td>
					<td th:text="${lancamento.descricao}"></td>
					<td th:text="${lancamento.categoria}"></td>
					<td th:text="${lancamento.vencimento}"></td>
					<td th:text="${lancamento.valor}"></td>
					<td><a href="#">Baixar</a></td>
					<td><a href="#">Editar</a></td>
					<td><a href="#">Excluir</a></td>
				</tr>
				<tr>
					<td></td>
					<td>TOTAL</td>
					<td></td>
					<td></td>
					<td th:text="${total}"></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
		var status = document.getElementById("status").value;
		console.log(status)
	</script>
</body>